<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="h1Section">
        <div class="h1Config">
            <h1>
                Create Account
            </h1>
        </div>
    </section>
    <section class="socialButtons">
        <div class="divOfSocials">
            <div class="allSocials">
                <a href="" class="loginButton">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="" class="loginButton">
                    <i class="fa-brands fa-google"></i>
                </a>
                <a href="" class="loginButton">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="pSection">
        <p>Or use your email to create an account</p>
    </section>
    <section class="inputSection">
        <div class="inputDiv">
            <input class="inputConfigs" placeholder="Full Name" name="name" type="text" formControlName="fullName" required>
        </div>
        <div class="inputDiv">
            <input class="inputConfigs" placeholder="Email" name="email" type="email" formControlName="email" required>
        </div>
        <div class="inputDiv">
            <input class="inputConfigs" placeholder="Password" name="Password" type="password" formControlName="password" required>
        </div>
        <div class="inputDiv">
            <input class="inputConfigs" placeholder="Confirm Password" name="Password" type="password" formControlName="confirmPassword" required>
        </div>
    </section>
    <section class="buttonSection">
        <div class="RegisterButtonDiv">
            <button class="buttonRegisterConfig" type="submit">SIGN UP</button>
        </div>
    </section>
</form>






