.mainContainer{
    display: flex;
    height: 100vh;
    width: 60vh;
    justify-content: center;
    align-items: center;
}

.twoRects{
    display: flex;
    background: white;
    width: 100%;
    max-width: 500px;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.contentOfRects{
    width: 75%;
    height: 80%;
}







