.mainContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.twoRects{
    display: flex;
    background: #0d192b;
    width: 100%;
    max-width: 500px;
    height: 60vh;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}



